---
---

@import "{{ site.theme }}";
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.205/distr/fira_code.css);
* {
  font-family: 'Fira Code';
}
.container {
  max-width: 1024px;
}
header h1 {
  margin: 0;
}
header h1:before {
  content: "";
}
